.copy-btn {
  cursor: pointer;
  display: inline-block;
  padding: 8px;
}

#copytool, #toolTagArea {
    flex: 1;
}

#copytool {
    display: flex;
    height: 34px;
}

#copytool button {
    text-align: center;
    width: 60px;
    display: block;
    border-radius: 5px;
    padding: 5px 8px 2px;
    margin-right: 8px;
}

#copytool button:hover {
    transition: .3s;
    text-decoration: unset;
}

#copytool button:last-child {
    margin-right: 0;
}


.copy-btn {
    border-color: #555;
    color: #555;
    font-size: 15px;
    cursor: pointer;
    border: 1px solid #555;
}
.copy-btn:hover {
    background-color: #555;
    color: #ffffff;
}

#copyarea {
    width: 100%;
    display: flex;
    margin: 20px auto;
}


.copy-btn{
    background-color: rgb(255, 255, 255);
}

.copy-btn {
  cursor: pointer;
  position: relative;
}
 
/* Tooltip */
.tooltip::after {
    content: 'Copied!';
    background: #555;
    display: inline-block;
    color: #fff;
    border-radius: .4rem;
    position: absolute;
    left: 50%;
    bottom: -.8rem;
    transform: translate(-50%, 0);
    font-size: .75rem;
    padding: 4px 10px 6px 10px;
    animation: fade-tooltip .5s 1s 1 forwards;
}
 
/* Animation */
@keyframes fade-tooltip {
  to { opacity: 0; }
}
