@charset "utf-8";
  /* 既存のスタイル */
  body {
    font-family: "Zen Kaku Gothic New", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  .container {
    width: 95%;
    margin: auto;
    overflow: hidden;
  }
  .container :hover{

    text-decoration: none;
    color: #000000;
  }
  .container li a{
    /*線の基点とするためrelativeを指定*/
  position: relative;
}

.container li.now a,
.container li a:hover{
  color:#000000;
}

.container li a::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    bottom: 0;
    left: 0%;
    bottom: -10px;
    /*線の形状*/
    width: 100%;
    height: 2px;
    background:#000000;
    /*アニメーションの指定*/
    transition: all .3s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
}

/*現在地とhoverの設定*/
.container li.now a::after,
.container li a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

  header {
    font-family: "Zen Kaku Gothic New", sans-serif;
    background: #50b3a2;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #e8491d 3px solid;
  }
  /* ...その他のスタイル... */

  /* メインページ用のスタイル */
  .main-container {
    text-align: center;
    padding: 50px 20px;
  }
 div .main {
  font-family: "Zen Kaku Gothic New", sans-serif;
  font-size: 20px;
    font-weight: bold;
    color: #000000;
  }
  .error-message {
    font-family: "Zen Kaku Gothic New", sans-serif;
     font-size: 1.5em;
    margin: 20px 0;
  }
  .suggestions {
    margin-top: 20px;
  }
  .suggestions a {
    text-decoration: none;
    color: #007bff;
  }
  @media (max-width: 680px) {
    .error-code {
      font-size: 3em;
    }
    .error-message {
      font-size: 1em;
    }
  }

  .social-links {
    margin-top: 20px;
  }
  .social-links a {
    margin: 0 10px;
    display: inline-block;
    text-decoration: none;
  }
  .social-links img {
    width: 30px;
    height: 30px;
  }
  @media (max-width: 680px) {
    /* レスポンシブ対応のスタイル調整 */
    /* ... */
  }

  /* アイコンを黒色に */
 .icon-image {
filter: brightness(0);
}


img.responsive {
    width: 100%; /* スマートフォンでは画像を100%表示 */
    height: auto;
  }

  @media (min-width: 768px) { /* この幅以上のデバイス（PCなど）で適用される */
    img.responsive {
      width: 30%; /* PCでは画像を60%表示 */
    }
  }

  /* ベースのスタイル */

header {
    background-color: #d7d7d7; /* 指定されたカラーでヘッダー背景 */
    color: #FFFFFF; /* ホワイトのテキスト */
    padding: 10px 0;
}

h1 {
  font-family: "Zen Kaku Gothic New", sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0 20px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000; /* リンクのテキストカラーもホワイトに */
    text-decoration: none;
}

nav ul li a:hover {
    color: #000000; /* アクセントカラーでホバー時の変化 */
    text-decoration: underline;
}

hr {
    margin-top: 0;
    border-color: #333333; /* ヘッダーと本文の区切り線 */
}

/* ---------------------------------- */

.link  {
    color: #000000;
}


.copyright {
    font-size: 10px;
    text-align: center;
    color: #797979;
  }

  .back a {
    color: #000000;
  }
  
  .back span:hover {
    text-decoration: underline;
  }
  

/* ツールチップの説明 */


.Tooltip {
  --_bg: #000;
  --_color: #fff;
  --_triangle-size: 5px;
  --_gap: 3px;

  position: absolute;
  z-index: 1;
  display: block;

  /* ツールチップのみため */
  width: max-content;
  max-width: 150px;
  padding: 10px;
  background-color: var(--_bg);
  color: var(--_color);
  text-align: left;
  border-radius: 8px;
  font-size: 12px;

  /* 表示・非表示の指定 */
  visibility: hidden;
  opacity: 0;
}

/* ツールチップが上に表示される場合 */
.Tooltip.-top {
  bottom: calc(100% + var(--_triangle-size) + var(--_gap));
  left: 50%;
  translate: -50% var(--_y, 0);
}

/* ツールチップが下に表示される場合 */
.Tooltip.-bottom {
  top: calc(100% + var(--_triangle-size) + var(--_gap));
  left: 50%;
  translate: -50% var(--_y, 0);
}

/* ツールチップが右に表示される場合 */
.Tooltip.-right {
  bottom: 50%;
  left: calc(100% + var(--_triangle-size) + var(--_gap));
  translate: var(--_x, 0) 50%;
}

/* ツールチップが左に表示される場合 */
.Tooltip.-left {
  bottom: 50%;
  right: calc(100% + var(--_triangle-size) + var(--_gap));
  translate: var(--_x, 0) 50%;
}

/*
  △を擬似要素で作成
*/
.Tooltip::before {
  position: absolute;
  margin: auto;
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
}

/* ツールチップが上に表示される場合の△ */
.Tooltip.-top::before {
  bottom: calc(var(--_triangle-size) * -1);
  right: 0;
  left: 0;
  border-width: var(--_triangle-size) var(--_triangle-size) 0 var(--_triangle-size);
  border-color: var(--_bg) transparent transparent transparent;
}

/* ツールチップが下に表示される場合の△ */
.Tooltip.-bottom::before {
  top: calc(var(--_triangle-size) * -1);
  right: 0;
  left: 0;
  border-width: 0 var(--_triangle-size) var(--_triangle-size) var(--_triangle-size);
  border-color: transparent transparent var(--_bg) transparent;
}

/* ツールチップが左に表示される場合の△ */
.Tooltip.-left::before {
  top: 0;
  bottom: 0;
  right: calc(var(--_triangle-size) * -1);
  border-width: var(--_triangle-size) 0 var(--_triangle-size) var(--_triangle-size);
  border-color: transparent transparent transparent var(--_bg);
}

/* ツールチップが右に表示される場合の△ */
.Tooltip.-right::before {
  top: 0;
  bottom: 0;
  left: calc(var(--_triangle-size) * -1);
  border-width: var(--_triangle-size) var(--_triangle-size) var(--_triangle-size) 0;
  border-color: transparent var(--_bg) transparent transparent;
}

/* 透明な要素を背面に敷くことでツールチップにマウスをのせやすくする */
.Tooltip::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  z-index: -1;
}

/* ツールチップが上に表示される場合 */
.Tooltip.-top::after {
  top: 100%;
  left: 0;
  height: calc(var(--_triangle-size) + var(--_gap));
}

/* ツールチップが下に表示される場合 */
.Tooltip.-bottom::after {
  bottom: 100%;
  left: 0;
  height: calc(var(--_triangle-size) + var(--_gap));
}

/* ツールチップが左に表示される場合 */
.Tooltip.-left::after {
  top: 0;
  left: 100%;
  width: calc(var(--_triangle-size) + var(--_gap));
}

/* ツールチップが右に表示される場合 */
.Tooltip.-right::after {
  top: 0;
  right: 100%;
  width: calc(var(--_triangle-size) + var(--_gap));
}

/*
  ツールチップがあることを、支援技術に伝えるための非表示テキスト
*/
.Tooltip_Body {
  display: block;
}
.Tooltip_Body::before {
  content: "。ツールチップあり：";
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
}

/*
  対象の要素の周囲に表示されるツールチップを上下左右に配置するために親要素をrelativeにする
  ※親要素のpositionの値を自身で調整したい場合は不要
*/
.TooltipContainer {
  position: relative;
  display: inline-block;
}

/*
  ホバー、フォーカス、アクティブ時にツールチップを表示する
*/
.TooltipContainer:is(:hover, :focus-visible, :focus-within, :active) > .Tooltip {
  visibility: visible;
  opacity: 1;
}

/*
  no-preferenceはprefers-reduced-motionの設定を行なっていない場合
  アニメーションさせる
*/
@media (prefers-reduced-motion: no-preference) {
  /* フェードアウト用の指定 */
  .Tooltip {
    transition: visibility 0s linear 0.1s, opacity 0.1s, translate 0.1s;
  }
  /* フェードイン用の指定 */
  .TooltipContainer:is(:hover, :focus-visible, :focus-within, :active) > .Tooltip {
    transition: visibility 0s linear 0s, opacity 0.3s, translate 0.3s;
  }
  /*
    ホバー・フォーカス・アクティブ時にツールチップをCSS Transitionさせるため
    ホバー・フォーカス・アクティブ時でないときに、初期位置を指定する
  */
  .TooltipContainer:not(:is(:hover, :focus-visible, :focus-within, :active)) > .Tooltip.-top {
    --_y: var(--_gap);
  }
  .TooltipContainer:not(:is(:hover, :focus-visible, :focus-within, :active)) > .Tooltip.-bottom   {
    --_y: calc( var(--_gap) * -1);
  }
  .TooltipContainer:not(:is(:hover, :focus-visible, :focus-within, :active)) > .Tooltip.-left {
    --_x: var(--_gap);
  }
  .TooltipContainer:not(:is(:hover, :focus-visible, :focus-within, :active)) > .Tooltip.-right {
    --_x: calc(var(--_gap) * -1);
  }  
}


/* ツールチップの説明 */
